 * {
        box-sizing: border-box;
      }
      body {
        font-family: "Inter", sans-serif;
        background: #f0f4f8;
        padding: 30px;
        margin: 0;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
      }
      .header h2 {
        display: flex;
        gap: 10px;
        font-size: 26px;
      }
      .header button {
        padding: 12px 22px;
        border: none;
        border-radius: 12px;
        background: linear-gradient(135deg, #4facfe, #00f2fe);
        color: #fff;
        font-weight: 600;
        cursor: pointer;
      }

      .categories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 25px;
      }

      .category-card {
        background: #fff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
      }
      .card-header {
        text-align: center;
        font-size: 32px;
      }
      .category-card h3 {
        text-align: center;
        margin: 8px 0;
      }
      .category-card p {
        text-align: center;
        font-size: 14px;
        color: #555;
      }

      .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
      }
      .product-count {
        background: #eef2ff;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 13px;
      }
      .buttons button {
        background: #fff;
        border: 1px solid #ccc;
        padding: 6px 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.5s;
      }

      button:hover {
        background-color: rgb(245, 157, 157);
      }

      /* MODAL */
      .modal {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
      }
      .modal-content {
        background: #fff;
        width: 420px;
        margin: 7% auto;
        padding: 25px;
        border-radius: 20px;
        position: relative;
      }
      .close-modal {
        position: absolute;
        top: 15px;
        right: 18px;
        font-size: 22px;
        cursor: pointer;
      }

      .input-group {
        margin-bottom: 15px;
      }
      .input-group input,
      .input-group textarea {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #ccc;
      }
      textarea {
        resize: none;
        height: 60px;
      }

      .icon-preview {
        text-align: center;
        font-size: 34px;
        margin: 10px 0 20px;
      }

      .modal-content button {
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 12px;
        background: linear-gradient(135deg, #4facfe, #00f2fe);
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }