* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f6fb;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #1e40af, #1e3a8a);
  color: #fff;
  /* padding: 25px 0; */
}

.logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #991b1b;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
}

.sidebar ul {
  margin-top: 20px;
  list-style: none;
  padding: 20px;
}

.sidebar li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 18px;
  background-color: #38bdf8;
  cursor: pointer;
  opacity: 0.85;
}

li a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
}

.sidebar li:hover,
.sidebar li.active {
  background: #38bdf8;
  opacity: 1;
}

.main {
  margin-left: 250px;
}

/* NAVBAR */
.navbar {
  position: fixed;
  left: 250px;
  right: 0;
  top: 0;
  height: 75px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #e5e7eb;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-left input {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 36px;
  border-radius: 50%;
}

/* CONTENT */
.content {
  margin-top: 75px;
  padding: 30px;
  height: calc(100vh - 75px);
  overflow-y: auto;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.stat {
  display: flex;
  gap: 15px;
  text-align: center;
  background: rgb(71, 188, 71);
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.stat .fas{
  color:white;
  font-size: 32px;
}

.product{
    background-color: #4CAF50;
    border-left: 4px solid rgb(47, 0, 255);
}

.low-stock{
    background-color: #FF9800;
    border-left: 4px solid rgb(0, 255, 255);
}

.out-stock{
    background-color: #F44336;
    border-left: 4px solid rgb(255, 234, 0);
}

.Value{
    background-color: #2196F3;
    border-left: 4px solid #FF8A80;
}

.customer{
    background-color: #80CBC4;
    border-left: 4px solid rgb(242, 255, 0);
}

.user{
    background-color: #FFCC80;
    border-left: 4px solid rgb(0, 255, 34);
}

.Supplier{
    background-color: #FFF59D;
    border-left: 4px solid rgb(255, 0, 242);
}

.quality{
    background-color: khaki;
    border-left: 4px solid rgb(208, 255, 0);
}

/* GRID */
.grid.two {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  margin-bottom: 30px;
}

.grid.three {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

/* CARD */
.card {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.card h3 {
  margin-bottom: 20px;
}

/* LIST */
.list {
  list-style: none;
}

.list li {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

/* BADGES */
.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.in {
  background: #dcfce7;
  color: #166534;
}
.low {
  background: #fef3c7;
  color: #92400e;
}
.out {
  background: #fee2e2;
  color: #991b1b;
}

/* HIGHLIGHT */
.highlight {
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: #fff;
}

canvas {
  width: 100% !important;
  height: 220px !important;
}

.highlight canvas {
  height: 80px !important;
}
