*{margin:0;padding:0;box-sizing:border-box}
body{
  font-family:Inter,sans-serif;
  background:#f4f6f9;
  display:flex;
  height:100vh;
}

/* ===== Sidebar ===== */
aside{
  width:260px;
  background:#2c3e50;
  color:#fff;
}
.logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #991b1b;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
}

.sidebar ul {
  margin-top: 20px;
  list-style: none;
  padding: 20px;
}

.sidebar li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 18px;
  background-color: #1abc9c;
  cursor: pointer;
  opacity: 0.85;
}

li a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
}

.sidebar li:hover,
.sidebar li.active {
  background: #38bdf8;
  opacity: 1;
}

/* ===== Main ===== */
main{
  flex:1;
  padding:25px;
  overflow:auto;
}
.title{font-size:26px;font-weight:700;margin-bottom:5px;}
.subtitle{color:#7f8c8d;margin-bottom:20px}

/* ===== Toolbar ===== */
.toolbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:15px;
  margin-bottom:20px;
}
.toolbar-left{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}
button{
  border:none;
  padding:12px 18px;
  border-radius:4px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
  display:flex;
  align-items:center;
  gap:6px;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
}
button:hover{opacity:0.9;}
.btn-green{background:#1abc9c;color:#fff}
.btn-blue{background:#3498db;color:#fff}
.btn-purple{background:#9b59b6;color:#fff}
.btn-gray{background:#bdc3c7;color:#2c3e50}

/* ===== Table ===== */
table{
  width:100%;
  border-collapse:collapse;
  background:#fff;
  border-radius:4px;
  overflow:hidden;
  box-shadow:0 4px 10px rgba(0,0,0,.05);
}
thead{background:#34495e;color:#fff}
th,td{
  padding:20px;
  font-size:14px;
  border-bottom:1px solid #ecf0f1;
}
tbody tr.low{background:#fff3cd}

/* ===== Badges ===== */
.badge{
  padding:4px 10px;
  border-radius:12px;
  font-size:12px;
  font-weight:600;
}
.yes{background:#bee7d7;color:#27ae60}
.no{background:#f66f6f;color:#c0392b}
/* ===== Actions ===== */

.actions{
  display: flex;

}
.actions button{
  background:none;
  font-size:12px;
  margin-right:8px;
}
.view{color:#3498db}
.edit{color:#27ae60}
.delete{color:#e74c3c}

/* ===== Modal ===== */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.5);
  align-items:center;
  justify-content:center;
  z-index:999;
}
.modal-box{
  background:#fff;
  padding:25px;
  width:420px;
  border-radius:12px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}
.modal-box h3{
  margin-bottom:20px;
  text-align:center;
}

.btn-gray, .btn-green{
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: white;
}
.modal-box input, .modal-box select{
  width:100%;
  padding:10px;
  margin-bottom:12px;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:14px;
}
.modal-box .modal-buttons{
  display:flex;
  gap:10px;
  margin-top:10px;
}
.modal-box .modal-buttons button{
  flex:1;
  font-size:14px;
}